<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <iframe src="http://localhost:5601/app/dashboards#/view/c5d2fdec-6d5d-4683-839d-dc35f01bb844?_g=(refreshInterval%3A(pause%3A!t%2Cvalue%3A60000)%2Ctime%3A(from%3Anow-15m%2Cto%3Anow))&show-query-input=true" style="height:90vh; width:100%"></iframe>
    <div style="display: flex; align-items: center; justify-content: center; gap: 20px">
        <a href="{% url 'index' %}" class="btn btn-primary btn-search">Home</a>
        <a href="{% url 'search_view' %}" class="btn btn-primary btn-search">Rechercher des Offres</a>
    </div>
<br><br>

</body>
</html>